@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
}
body,
body.dark {
  min-height: 100vh;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  background-size: 100%;
  color: #c8cbe7;
}
.boxShadow {
  box-shadow: 0px 125px 50px -15px rgba(194, 195, 214, 0.5);
}

body {
  background: url('./assets//images//bg-desktop-light.jpg') no-repeat top right fixed #fafafa;
}

body.dark {
  background-color: #171823;
  background: url('./assets//images//bg-desktop-dark.jpg') no-repeat top right fixed #171823;
}

body.dark .boxShadow {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.done {
  color: #d1d2da;
  text-decoration-line: line-through;
}
body.dark .done {
  color: #4d5067;
  text-decoration-line: line-through;
}

@media only screen and (max-width: 600px) {
  body,
  body.dark {
    font-size: 0.75rem;
  }
  body {
    background: url('./assets//images//bg-mobile-light.jpg') no-repeat top right fixed #fafafa;
  }
  body.dark {
    background: url('./assets//images//bg-mobile-dark.jpg') no-repeat top right fixed #171823;
  }
}

@media only screen and (min-width: 600px) {
  body,
  body.dark {
    font-size: 1.125rem;
    background-size: 100% 300px;
  }
}
